.detailsCard {
  width: 80%;
  height: vh;
  margin: 80px auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.088);
}
.detailsCard figure {
  width: 70%;
}
.detailsCard figure img {
  border-radius: 50px;
}
.poster {
  box-shadow: 5px 5px 5px black;
}
