<div class="cover_master p-5">
  <form
    [formGroup]="RegisterForm"
    (ngSubmit)="submitForm()"
    class="formstyle mx-auto p-5 w-50"
  >
    <div class="mb-4">
      <label for="email-address" class="form-label">Name</label>
      <input
        formControlName="name"
        type="text"
        class="form-control py-2"
        id="name-info"
        aria-describedby="name-info"
        placeholder=""
      />
      <div
        *ngIf="
          !RegisterForm.controls['name'].valid &&
          RegisterForm.controls['name'].touched
        "
      >
        <p
          class="bg-warning text-white col-4 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['name'].errors?.['required']"
        >
          This field is required !
        </p>
      </div>
    </div>
    <div class="mb-4">
      <label for="name" class="form-label">Email address</label>
      <input
        formControlName="email"
        type="email"
        class="form-control py-2"
        id="email-info"
        aria-describedby="email-info"
        placeholder=""
      />
      <div
        *ngIf="
          !RegisterForm.controls['email'].valid &&
          RegisterForm.controls['email'].touched
        "
      >
        <p
          class="bg-warning text-white col-4 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['email'].errors?.['required']"
        >
          This field is required !
        </p>
        <p
          class="bg-warning text-white col-5 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['email'].errors?.['pattern']"
        >
          This is not a valid e-mail address !
        </p>
      </div>
    </div>
    <div class="mb-4">
      <label for="user-name" class="form-label">User Name</label>
      <input
        formControlName="userName"
        type="text"
        class="form-control py-2"
        id="user-info"
        aria-describedby="user-info"
        placeholder=""
      />
      <div
        *ngIf="
          !RegisterForm.controls['userName'].valid &&
          RegisterForm.controls['userName'].touched
        "
      >
        <p
          class="bg-warning text-white col-4 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['userName'].errors?.['required']"
        >
          This field is required !
        </p>
        <p
          class="bg-warning text-white col-5 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['userName'].errors?.['pattern']"
        >
          User name must not have spaces !
        </p>
      </div>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input
        formControlName="password"
        name="password"
        type="password"
        class="form-control py-2"
        id="pass-info"
        placeholder=""
      />
      <div
        *ngIf="
          !RegisterForm.controls['password'].valid &&
          RegisterForm.controls['password'].touched
        "
      >
        <p
          class="bg-warning text-white col-4 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['password'].errors?.['required']"
        >
          This field is required !
        </p>
        <p
          class="bg-warning text-white col-11 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['password'].errors?.['pattern']"
        >
          Password must contain at least one Uppercase, number & special char
          [@,%,$,#,*] !
        </p>
      </div>
    </div>
    <div class="mb-4">
      <label for="confirm-password" class="form-label">Confirm Password</label>
      <input
        formControlName="confirmPass"
        type="password"
        class="form-control py-2"
        id="conf-pass-info"
        placeholder=""
      />
      <div
        *ngIf="
          !RegisterForm.controls['confirmPass'].valid &&
          RegisterForm.controls['confirmPass'].touched
        "
      >
        <p
          class="bg-warning text-white col-6 rounded-1 px-3 py-2 mt-2"
          *ngIf="RegisterForm.controls['confirmPass'].errors?.['required']"
        >
          Your must confirm your password!
        </p>
        <p
          class="bg-warning text-white col-8 rounded-1 px-3 py-2 mt-2"
          *ngIf="
            RegisterForm.controls['confirmPass'].value !==
            RegisterForm.controls['password'].value
          "
        >
          Must enter the same password, This one doesn't match !
        </p>
      </div>
    </div>

    <button
      [disabled]="!RegisterForm.valid"
      type="submit"
      class="btn btn-warning border-1 border-light d-block w-25 mx-auto mt-5"
    >
      Sign Up
    </button>
  </form>
  <div class="mx-auto container col-4 text-center py-4">
    <p class="text-light">
      Already have an account?
      <a class="text-decoration-none" routerLink="/auth/signin">Sign In</a>
    </p>
  </div>
</div>
