<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="CanvasSidebar"
  aria-labelledby="offcanvasExampleLabel"
  style="background: linear-gradient(to right, #0f0c29, #24243e)"
>
  <div class="offcanvas-header text-warning">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      Your liked movies :
    </h5>
    <button
      type="button"
      class="btn-close btn-danger"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body text-warning">
    <div>
      Here we've collected your preferred movies, so you can easily reach them,
      enjoy watching !
    </div>
    <hr />
    <div class="mt-3">
      <ul class="border-1 rounded-3">
        <app-like-bar
          *ngFor="let like of likesList"
          [input]="like"
        ></app-like-bar>
      </ul>
    </div>
  </div>
</div>
